amqp==1.4.9
anyjson==0.3.3
beautifulsoup4==4.4.1
billiard==3.3.0.23
celery==3.1.22
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.34
MarkupSafe==0.23
psycopg2==2.6.1
publicsuffixlist==0.4.0
pytz==2015.7
redis==2.10.5
requests==2.9.1
Werkzeug==0.11.4
