amqp==2.1.1
anyjson==0.3.3
beautifulsoup4==4.5.1
billiard==3.5.0.2
celery==4.0.0
click==6.6
coverage==4.2
flake8==3.0.4
Flask==0.11.1
httpobs-cli==1.0.2
itsdangerous==0.24
Jinja2==2.8
kombu==4.0.0
MarkupSafe==0.23
mccabe==0.5.2
nose==1.3.7
pep8==1.7.0
psutil==4.4.2
psycopg2==2.6.2
publicsuffixlist==0.4.1
pycodestyle==2.1.0
pyflakes==1.3.0
pytz==2016.6.1
redis==2.10.5
requests==2.11.1
uWSGI==2.0.14
vine==1.1.3
Werkzeug==0.11.11
